{
  "arrowParens": "always",
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva", "cx", "clsx", "cn", "twMerge", "twJoin", "tv"],
  "singleQuote": true
}